{sub_dirs, []}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "doc"}]}.
%% {eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{plugins, [pc]}.

{artifacts,
 ["priv/bin_nif.so",
  "priv/aggr_nif.so",
  "priv/comb_nif.so"]}.

{port_specs,
 [
  {"priv/bin_nif.so",  ["c_src/bin_nif.c",  "c_src/dec_conv.c"]},
  {"priv/aggr_nif.so", ["c_src/aggr_nif.c", "c_src/dec_conv.c", "c_src/dec_math.c"]},
  {"priv/comb_nif.so", ["c_src/comb_nif.c", "c_src/dec_conv.c", "c_src/dec_math.c"]}
 ]}.

{port_env,
 [
  {"CFLAGS", "-O4 -std=c99"},
  {"solaris", "CFLAGS",
   "-std=c99 -DSOLARIS"} %% Omitting $CFLAGS is deliberate, there is a bug with that on solaris
 ]}.

{provider_hooks,
  [{post,
    [{compile, {pc, compile}},
     {clean, {pc, clean}}]}]}.

{profiles,
 [{eqc,
   [
    %%{erl_opts, [debug_info, warnings_as_errors, {parse_transform, eqc_cover}]},
    {plugins, [rebar3_eqc]}]}]}.
