{sub_dirs, []}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{plugins, [pc]}.


{port_specs, [{"priv/aggr_nif.so", ["c_src/aggr_nif.c"]}]}.

{port_env, [
    {"solaris", "CFLAGS",
        "-std=c99 -DSOLARIS"}
]}.

{provider_hooks,
  [{post,
    [{compile, {pc, compile}},
     {clean, {pc, clean}}]}]}.

{profiles,
 [{eqc,
   [{plugins, [rebar3_eqc]},
    {deps, [fqc]}]}]}.
